<div class="col-md-4">
  <%= link_to portfolio_show_path(portfolio_item) do %>
    <div class="card portfolio-card" data-id="<%= portfolio_item.id %>" >

        <%= image_tag portfolio_item.thumb_image, width: '100%' unless portfolio_item.thumb_image.nil? %>
      
      <p class="card-text"><span><%= portfolio_item.title %></span> <%= portfolio_item.subtitle %>
      </p>
    </div>
  <% end %>
</div>
