<div class="blog-masthead">
  <div class="container">
    <nav class="nav">
      <%= link_to "Home", root_path, class: "nav-link sliding-middle-out" %>
      <%= link_to "About Me", about_me_path, class: "nav-link sliding-middle-out" %>
      <%= link_to "Portfolio", portfolios_path, class: "nav-link sliding-middle-out" %>
      <%= link_to "Blog", blogs_path, class: "nav-link active sliding-middle-out" %> 
      <%= link_to "Tech News", tech_news_path, class: "nav-link sliding-middle-out" %> 
      <%= link_to "Contact", contact_path, class: "nav-link sliding-middle-out" %> 

      <%= login_helper "nav-link" %>
    </nav>
  </div>
</div>