<div class="collapse bg-dark portfolio-nav" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">I am driven by building highly intuitive web applications with a strong focus on user experience and design. I specialize in full-stack Ruby on Rails development. With a college background in the arts and music, I also bring a keen design sensibility to every project.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <li><%= link_to "Home", root_path, class: "text-white" %></li>
          <li><%= link_to "About", about_me_path, class: 'text-white', 'data-toggle': 'modal', 'data-target': '#aboutModal' %></li>
           <li><%= link_to "Portfolio", portfolios_path, class: "text-white" %></li>
          <li><%= link_to "Tech News", tech_news_path, class: "text-white" %></li>
          <li><%= link_to "Contact", contact_path, class: "text-white" %> </li>
         
          <li><%= login_helper "text-white" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <%= link_to "Kevin Schaffter", root_path, class: "navbar-brand h3" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>